# -------------------------
# Core
# -------------------------
fastapi
uvicorn
pydantic
python-dotenv

# -------------------------
# Data & ML
# -------------------------
numpy
pandas
scikit-learn
xgboost
tensorflow
prophet
joblib

# -------------------------
# NLP / Sentiment
# -------------------------
transformers
torch
huggingface-hub

# -------------------------
# Finance / Data Sources
# -------------------------
yfinance

# -------------------------
# Monitoring
# -------------------------
prometheus-client

# -------------------------
# Testing
# -------------------------
pytest

# -------------------------
# Visualization
# -------------------------
matplotlib
seaborn
plotly
