# -------------------------
# API
# -------------------------
fastapi
uvicorn
pydantic

# -------------------------
# Core ML Runtime
# -------------------------
numpy
pandas
scikit-learn
joblib
xgboost
tensorflow
prophet
yfinance

# -------------------------
# Monitoring
# -------------------------
prometheus-client
