# -------------------------
# API
# -------------------------
fastapi
uvicorn
pydantic

# -------------------------
# Core ML Runtime
# -------------------------
numpy
pandas
scikit-learn
joblib
tensorflow
prophet

# -------------------------
# Monitoring
# -------------------------
prometheus-client
